.todo-list-wrapper {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding-top: 20px;
    border-top: 1px solid;
    margin-top: 10px;
}

.todo-list-wrapper input {
    width: 500px;
}
